HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp

# Arquivos de backup
*~

# Env file
.env
